<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Simple Image Processing</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
 <nav class="navbar navbar-dark bg-dark ">
      <a class="navbar-brand navbar-center" href="#">My Simple Image Processing</a>
   </nav>

   <div class="container">
      <div class="starter-template">
         <h2>My Simple Image Processing</h2>
         <p>Upload an image and see image is converted to gray</p>
         <p> Max Image Size: 2 MB </p>
      </div>
   </div>

 <div class="container">
    <form method=post enctype=multipart/form-data>
       <input type=file name=file onchange="loadFile(event)">
       <input type=submit value=Upload class="btn btn-primary">
    </form>
   <img id="output" alt="" width="40%" height="40%" />
</div>

{% if data %}
  <div class="container">
   <img src="{{ data.processed_img }}" width="480px" height="360px">
   <img src="{{ data.uploaded_img }}" width="480px"height="360px">
  </div>
{% endif %}


<script src="/static/js/index.js" charset="utf-8"></script>
</body>
</html>